

.page .section-header{
  margin:auto;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  
}
.tab{
  background-color:#a27635;
  width:auto;
}
.header:after {
    content: "";
    display: table;
    clear: both;
}
.header {
    background-color: #808080;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.footer{
 background-color: #C0C0C0;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 20px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    text-align: center;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}